{{!< layout}}
 <header class="aui-page-header">
     <div class="aui-page-header-inner">
         <div class="aui-page-header-main intro-header">
             <h1>{{title}}</h1>
         </div>
     </div>
 </header>

 <div class="aui-page-panel main-panel">
     <div class="aui-page-panel-inner">
         <section class="aui-page-panel-item">
             <div class="aui-group">
                 
				 
					<form class="aui" onsubmit="return findassignee()">
						Issue:
						
						<input class="text" id="issue" type="text">
						<button class="aui-button aui-button-primary" type="submit">Pokaż</button>
						
						<a href="#" id="inlineDialog"><span class="aui-icon icon-inline-help"></span></a>
				
					</form>
					
					</br>
					
					<div class="projects" >
						This issue is assigned to: <span class="aui-field-content" style="color:red" id="result"></span> 
					</div>
					
             </div>
         </section>
     </div>
 </div>